@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad Flux", sans-serif;
}

body {
  padding: 2rem 1rem;
}

.questions {
  /* padding: 2rem 3rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



.answer-btn {
  font-size: 1.12rem;
}

.answers {
  margin-top: 1rem;
}

.question {
  font-size: 1.5rem;
}

.category,
.difficulty {
  font-size: 0.35rem;
  margin-left: 0.5rem;
}

#loading {
  display: none;
}

#score-parent {
  display: none;
}

#hide {
    display: none;
}

.hero {
    display: flex;
}

.questions-container {
    display: none;
}

#next-btn, #done-btn { 
    display: none;
}